//colors used

$background: linear-gradient(#6300ec, #3f0d83);

// Fonts
@font-face {
  font-family: "Rift Demi";
  src: url("../fonts/Rift-Demi.woff2") format("woff2"),
    url("../fonts/Rift-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

a {
  text-decoration: none;
}

// Dom style
.home {
  width: 100%;
  height: 100%;
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // typo
  & h1,
  & h2,
  & h3 {
    text-align: center;
    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 50px;
    line-height: 60px;
    margin: 40px 0px 40px 0px;
  }
  & h2 {
    font-size: 30px;
    margin: 0;
  }
  & h3 {
    font-size: 20px;
    margin: -20px 0px 0px 0px;
  }
  // line separator
  &_line {
    margin: 15px 0px 25px 0px;
    width: 30px;
    border-bottom: solid white 1px;
  }
  & img {
    width: 70%;
    margin-bottom: 20px;
  }
  // return
  &_back {
    display: flex;
    align-items: center;
    width: 300px;
    height: 80px;
    img {
      width: 15px;
      margin: 0px;
    }
    h5 {
      margin: 0px 5px 1px 5px;
      color: white;
      font-weight: 300;
    }
  }
  &_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_submit {
      margin: 40px 0px 40px 0px;
      font-family: "Rift Demi";
      font-size: 18px;
      width: 300px;
      height: 50px;
      background: #ffffff;
      border-radius: 90px;
      border: none;
      // box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      outline: none;
    }
    & input {
      text-align: center;
      width: 300px;
      height: 50px;
      background: transparent;
      border-radius: 90px;
      border: solid 1px #87bcbf;
      margin: 10px 0px 10px 0px;
      color: white;
      font-size: 15px;
      outline: none;
      &::placeholder {
        font-size: 13px;
        font-family: "Rift Demi";
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.924);
      }
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  & button {
    width: 300px;
    height: 50px;
    background: white;
    border-radius: 90px;
    margin: 10px 0px 10px 0px;
    outline: none;
  }
  &_spaced-link {
    font-size: 13px;
    font-family: "Rift Demi";
    letter-spacing: 2px;
    color: black;
    outline: none;
  }
}

.register {
  width: 300px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  & button {
    width: 140px;
    height: 39px;
    background: #6401ec;
    border-radius: 100px;
    border: none;
    margin: 15px 0px 10px 0px;
  }
  &_text {
    color: white;
    font-family: europa, sans-serif;
    font-size: 11px;
    line-height: 18px;
    cursor: pointer;
    // text-decoration: underline;
  }
  &_text:hover {
    color: #ff7590;
  }
}

.invalid-feedback {
  text-align: center;
  color: rgb(253, 104, 78);
  font-size: 10px;
  height: 10px;
  margin-top: -5px;
}

// header

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 10%;
  & h1 {
    margin: 0;
  }
  & img {
    width: 60px;
    margin: 0px 0px 0px 10px;
  }
}
