@font-face {
  font-family: "Rift Demi";
  src: url("../fonts/Rift-Demi.woff2") format("woff2"),
    url("../fonts/Rift-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.storeWindow {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  align-items: center;
  margin: 10px;
  height: 187px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.299);
  border-radius: 10px;
  width: 146px;
  font-size: 0.6em;

  &-appear {
    opacity: 0;
    &-active {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
  }

  &_viewStore {
    display: flex;
    background-color: #781ff2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    overflow: hidden;
    & img {
      height: 100%;
    }
  }
  &_text {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    & h3 {
      color: black;
      margin: 0px;
      text-align: center;
      font-size: 18px;
    }
    & h4 {
      font-family: "Rift Demi";
      color: rgba(0, 0, 0, 0.4);
      margin: 5px 0px 5px 0px;
      text-align: center;
      font-size: 15px;
    }
  }
}
