@font-face {
  font-family: "Rift Demi";
  src: url("../fonts/Rift-Demi.woff2") format("woff2"),
    url("../fonts/Rift-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.storeWindow {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  align-items: center;
  margin: 10px;
  height: 187px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.299);
  border-radius: 10px;
  width: 146px;
  font-size: 0.6em;
}
.storeWindow_viewStore {
  display: flex;
  background-color: #781ff2;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  overflow: hidden;
}
.storeWindow_viewStore img {
  height: 100%;
}
.storeWindow_text {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
}
.storeWindow_text h3 {
  color: black;
  margin: 0px;
  text-align: center;
  font-size: 18px;
}
.storeWindow_text h4 {
  font-family: "Rift Demi";
  color: rgba(0, 0, 0, 0.4);
  margin: 5px 0px 5px 0px;
  text-align: center;
  font-size: 15px;
}
