.topBar {
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: white;
  position: sticky;
  top: 0;
  color: #6401ec;
  z-index: 1002;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  & h1 {
    color: #6401ec;
    font-size: 30px;
    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
}
.topBar * {
  margin: 0;
  padding: 0;
}
