@font-face {
  font-family: "Rift Demi";
  src: url("../fonts/Rift-Demi.woff2") format("woff2"),
    url("../fonts/Rift-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.containDonation {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(#6300ec, #3f0d83);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 120px 40px;
  box-sizing: border-box;
}
.containDonation h1 {
  margin: 20px 0px 20px 0px;
  text-align: center;
  color: white;
}
.containDonation_montant {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containDonation_montant input {
  width: 100%;
  text-align: center;
  background: transparent;
  margin: 10px 0px 0px 0px;
  font-size: 100px;
  font-weight: 700;
  font-family: Europa;
  border: none;
  outline: none;
  color: white;
}
.containDonation h2 {
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Rift Demi";
  font-size: 30px;
}
.containDonation button {
  margin: 30px 0px 0px 0px;
  font-family: "Rift Demi";
  font-size: 18px;
  width: 300px;
  height: 50px;
  background: #ffffff;
  border-radius: 90px;
  border: none;
  cursor: pointer;
  outline: none;
}
.donationImg {
  width: 60%;
}
