.businessProfile {
  width: 100%;
  min-height: 100%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#6300ec, #3f0d83);
  text-align: center;
  &_avatar {
    margin: -10px 0px 10px 0px;
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 300px;
    background-color: #6c63ff;
    cursor: pointer;
    & img {
      width: 100%;
    }
  }
  & h1 {
    font-family: Europa;
    color: white;
    margin: 10px 0px 10px 0px;
  }
  &_wallet {
    display: flex;
    width: 160px;
    height: 35px;
    font-size: 18px;
    margin: -10px 0px 10px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
  }
  &_description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
    width: 300px;
    height: 100px;
    & textarea {
      padding: 10px;
      border-radius: 10px;
      background: white;
      outline: none;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  &_valider {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Europa;
    height: 29px;
    font-weight: 700;
    border-radius: 8px;
    width: 90px;
    background: #ff7590;
    margin: -10px 0px 20px 0px;
    cursor: pointer;
  }
  & button {
    text-align: center;
    width: 300px;
    height: 50px;
    background: transparent;
    border-radius: 90px;
    border: solid 1px #87bcbf;
    margin: 10px 0px 10px 0px;
    color: white;
    font-size: 15px;
    outline: none;
  }
}

.deconnexion {
  & button {
    height: 0px;
    background: transparent;
    border: none;
    margin: 20px 0px 0px 0px;
    color: white;
    font-size: 15px;
  }
}

.bottomBarBlock {
  width: 100%;
  height: 80px;
}
