@import "main";

.fullPageSearch {
  * {
    box-sizing: border-box;
    font-family: europa;
  }
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .searchContainer {
    position: fixed;
    top: 3vh;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
  }

  .results-container {
    margin-top: 13vh;
    width: 85%;
    // height: 100vh;
    // margin-bottom: 80px;
    // overflow: scroll;

    .placeholder {
      width: 100%;
      height: 110px;
      margin-bottom: 25px;
      border-radius: 10px;
      background-color: #f5f5f5;
      // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    .business-item {
      @include smooth-shadow();
      display: flex;
      width: 100%;
      height: 130px;
      flex-flow: row nowrap;
      justify-content: center;
      margin-bottom: 30px;
      border-radius: 10px;
      border-top-right-radius: 44px;
      border-bottom-right-radius: 44px;
      overflow: hidden;
      transition: all 0.6s ease-in-out;

      &-appear {
        opacity: 0;
      }
      &-appear-active {
        opacity: 1;
      }

      .left {
        padding: 6px 0 5px 5px;
        height: 100%;
        width: 40%;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        .top {
          width: 100%;
          .name {
            font-weight: 600;
            width: 100%;
            text-align: center;
          }
          .type {
            opacity: 0.8;
            width: 100%;
            text-align: center;
          }
          .money {
            margin: 5px 0px 5px 0px;
            opacity: 0.8;
            width: 100%;
            text-align: center;
          }
        }

        .logo-container {
          @include smooth-shadow-darker();
          @include flex-center();
          right: -22px;
          top: calc(50% - 22px);
          height: 44px;
          width: 44px;
          background-color: white;
          border-radius: 50%;
          position: absolute;

          .logo {
            height: 65%;
            width: 65%;
          }
        }
      }

      .right {
        height: 100%;
        width: 60%;
        background: #781FF2;
        background-size: cover;
        background-position: center center;
      }
    }
  }
}
