*{
    font-family: 'Roboto', sans-serif;

}
body{
    margin: 0;
}

.discoverPartners {
    width: 100%;
    height: 220px;
    background: linear-gradient(146deg, rgba(100, 1, 236, 1) 0%, rgba(75, 75, 125, 1) 90%);
    color: white;
    position: relative;
    font-size: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.discoverPartners h2 {
    width: 90%;

}
.discoverPartners p {
    width: 90%;

}

.line {
    width: 20%;
    height: 2px;
    background: white;
}
.lineContainer {
    width: 90%;
    height: 2px;
}
.blankSpace{
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0);
    opacity: 0;
}
.partnerBand p{
    font-size: 1.2em;
    font-weight: bolder;
}
.partnerSlide{
    width: 100%;
    height: 241px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow: scroll;
}
.featureFilterContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;

}
.featureFilter{
    background:white;
    width: 93%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.374);

}
.featureFilter h3{
margin: 25px 10px;
}
.buttonFilter{
    width: 75%;
    height: 40px;
    border: 1px blue solid;
    border-radius: 20px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
}
.partnerBand p{
    text-align: center;
}



// to delete probably

.squareStoreOfTheWeek{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.squareStoreOfTheWeek div{
    width: 80%;
    height: 250px;
    margin: 20px 0;
    border-radius: 15px;
    background: linear-gradient(146deg, rgba(100, 1, 236, 1) 0%, rgb(56, 56, 105) 90%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.374);

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.squareStoreOfTheWeek h2{
    width: 75%;
    font-size: 1.2em;
}