.profileContainer {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#6300ec, #3f0d83);
  text-align: center;
}
.profileContainer_avatar {
  margin: -10px 0px 10px 0px;
  width: 200px;
  height: 200px;
  background-image: url(../components/img/avatarFemale.svg);
  background-size: cover;
  border-radius: 300px;
}
.profileContainer h1 {
  font-family: Europa;
  color: white;
  margin: 10px 0px 10px 0px;
}
.profileContainer h2 {
  font-weight: 300;
  font-size: 18px;
  font-family: Europa;
  color: white;
  margin-bottom: 20px;
  line-height: 30px;
}
.profileContainer button {
  text-align: center;
  width: 300px;
  height: 50px;
  background: transparent;
  border-radius: 90px;
  border: solid 1px #87bcbf;
  margin: 10px 0px 10px 0px;
  color: white;
  font-size: 15px;
  outline: none;
}
.deconnexion button {
  border: none;
  margin: 0;
}
